html,
body {
  height: 100%;
  margin: 0;
  background: #000;
  color: #fff;
  font-family: Arial, Helvetica, sans-serif;
}
#panorama {
  width: 100%;
  height: 100vh;
}
/* small overlay for scene title */
.pannellum-tooltip {
  font-weight: 600;
}
#load_box {
  display: none;
}
#panorama .pnlm-load-box {
  display: none !important;
}
.pnlm-load-box {
  display: none !important; /* !important ensures it overrides inline styles */
  opacity: 0 !important; /* just in case */
  pointer-events: none; /* prevents interaction */
}

.custom-hotspot {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: rgba(0, 162, 255, 0.25);
  box-shadow: 0 0 25px 12px rgba(0, 162, 255, 0.7);
  transform: translate(-50%, -50%) rotateX(70deg) rotateZ(10deg);
  animation: groundGlow 2.5s infinite ease-in-out;
}
/* .custom-hotspot::after {
  content: ">";
} */
@keyframes groundGlow {
  0% {
    box-shadow: 0 0 20px 10px rgba(0, 162, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 32px 16px rgba(0, 162, 255, 1);
  }
  100% {
    box-shadow: 0 0 20px 10px rgba(0, 162, 255, 0.6);
  }
}
